*, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
:root{
    --dawg-orange: #FF4D00;
    --dawg-white: #FFFBF8;
    --dawg-active: #FFCCB6;
    --dawg-bg-gradient: linear-gradient(180deg, #FFE8D0 0%, #FFF7EF 100%);
    --dawg-dark-orange: #C23B00;
    --dawg-light-bg: #FFE8D0;
    --dawg-gray-bg: #302E30;
    --dawg-blue: #B7DEFF;
}
.fuzzy{
    font-family: Fuzzy Bubbles;
    font-weight: 700;
}
.f32px{
    font-size: 32px;
}
.f72px{
    font-size: 72px;
}
.f48px{
    font-size: 48px;
}
.f24px{
    font-size: 24px;
}
.f18px{
    font-size: 18px;
}
.gaegu{
    font-family: Gaegu;
    font-weight: 500;
    font-smooth: auto;
}
body{
    width: 100vw;
    overflow-x: hidden;
    transition: .3s;    
}
.container{
    width: 100%;
    height: 200vh;
}
.cover{
    width: 100vw;
    height: 567px;
    overflow: hidden;
    max-width: 1280px;
    margin: auto;
}
.cover-bg{
    background: var(--dawg-bg-gradient);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 647px;
    z-index: -10;
}
.navbar{
    height: 80px;
    width: 100%;
    top: 0px;
    position: sticky;
    background-color: var(--dawg-light-bg);
    z-index: 20;
}
.nav-container{
    width: 100%;
    max-width: 1280px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 24px;
    margin: auto;
}
.logo{
    width: 40px;
    height: 28px;
    background-image: url('./images/logo.svg');
    background-position: center;
    background-repeat: no-repeat;
}
.nav-buttons{
    width: 96px;
    height: 48px;
    border: 4px solid var(--dawg-active);
    border-radius: 8px;
    gap: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dawg-white);
}
.x-link{
    width: 32px;
    height: 32px;
    background-position: center;
    background-image: url('./images/x.svg');
    cursor: pointer;
    border-radius: 4px;
    transition: .3s; 
}
.dc-link{
    width: 32px;
    height: 32px;
    background-position: center;
    background-image: url('./images/discord.svg');
    cursor: pointer;
    border-radius: 4px;
    transition: .3s; 
}
.dc-link:hover, .x-link:hover{
    background-color: var(--dawg-active);
    
}
.separator{
    position: absolute;
    height: 18px;
    border-right: 4px solid var(--dawg-active);
    border-radius: 8px;
}
.hero{
    height: 100%;
    padding: 0px 24px;
    color: var(--dawg-orange);
    display: flex;
    flex-direction: row;
}
.hero-titles{
    display: flex;
    max-width: 518px;
    flex-direction: column;
    gap: 32px;
}
.hero-text{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.hero-header{
    line-height: 72px;
}
.hero-paragraph > div{
    text-decoration: underline;
    font-weight: 700;
    
}
.activity-scroll{
    height: 48px;
    overflow-y: hidden;
}
.scroll-container{
    display: flex;
    flex-direction: column;
}
.action-container{
    display: flex;
    gap: 16px;
    align-items: center;
}
.hero-action{
    width: fit-content;
    padding: 24px;
    background-color: var(--dawg-orange);
    border-radius: 16px;
    cursor: pointer;
    outline: 3px solid transparent;
    transition: 0.3s ease;
    outline-offset: -3px;
}
.action-text{
    color: var(--dawg-white);
}
.hero-action:hover{
    background-color: var(--dawg-dark-orange);
    outline-color: var(--dawg-orange);
    
}
.dc-icon{
    background: url('./images/discord-white.svg');
    background-position: center;
    background-size: contain;
    width: 20px;
    height: 16px;
}
.dawg{
    pointer-events: none;
    width: 690px;
    height: 647px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('./images/dawg.svg');
    transform: translate(0, 35%);
    
}
.scroll-item {
    position: absolute;
    width: 100%;
    opacity: 0;
    transform: translateY(50%);
    transition: opacity 0.5s, transform 0.5s;
    text-decoration: underline;
}
  
.scroll-item.active {
    opacity: 1;
    transform: translateY(0);
}
  
.scroll-item.exit {
    opacity: 0;
    transform: translateY(-50%);
}
.ellipse{
    margin: 8px;
    width: 8px;
    height: 8px;
    border-radius: 100px;
    background-color: var(--dawg-orange);
}
.info-scroll{
    border-top: 2px solid var(--dawg-orange);
    border-bottom: 2px solid var(--dawg-orange);
    color: var(--dawg-orange);
    height: 40px;
    white-space: nowrap;
    max-width: 100vw;
}
.info-container {
    display: inline-flex;
    align-items: center;
    animation: scroll 20s linear infinite;
}
.info-scroll-item{
    margin: 0 8px;
}
@keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
.info-container::after {
    content: attr(data-text);
    display: inline-flex;
    padding-left: 30px;

}
.meet-the-dawgs{
    width: 100%;
    height: 1164px;
    background-color: var(--dawg-gray-bg);
    padding: 48px 0;
}
.meet-text-section{
    max-width: 1280px;
    margin: auto;
    display: flex;
    gap: 32px;
    flex-direction: column;
    justify-content: center;
    color: var(--dawg-white);
}
.meet-cover{
    background-image: url('./images/meet.png');
    width: 1174px;
    height: 501px;
}
.meet-cards{
    max-width: 1280px;
    margin: 48px auto;


}
.meet-cards-container{
    display: flex;
    flex-direction: row;
    gap: 24px;
    overscroll-behavior-inline: contain;
    transform: translateX(0px);
    transition: .6s;
}
.dawg-card{
    min-width: 425px;
    height: 311px;
    border-radius: 16px;
    transition: .3s;
    outline:  3px solid transparent;
    outline-offset: -3px;
    cursor: grab;
    user-select: none;
}
.dawg-card:hover{
    transform: translateY(-10%);
    outline: 3px solid var(--dawg-white);
}
.dawg-tag{
    opacity: 70%;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.opacity70{
    opacity: 70%;
}
.card-container{
    padding-top: 24px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dawg-pic{
    width: 229px;
    height: 196px;
    flex-grow: 20;
}
.dawg-pic > div{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.dawg-pic1{
    background-image: url('./images/jiovanni.png');
}
.dawg-pic2{
    background-image: url('./images/gandawg.png');
}
.dawg-pic3{
    background-image: url('./images/jake.png');
}
.dawg-pic4{
    background-image: url('./images/milo.png');
}
.dawg-pic5{
    background-image: url('./images/jordan.png');
}
.dawg-pic6{
    background-image: url('./images/agro.png');
}
.chef{
    background: #FFF9DD;
}
.mage{
    background-color: var(--dawg-blue);
}
.baller{
    background: #FFF0DA;
}
.cosplay{
    background: #F5EBFF;
}
.corporate{
    background: #F1FFEF;
}
.villain{
    background: #242424;
    border: 1px solid #FFFFFF80;
}
.white{
    color: var(--dawg-white);
}
.cogs{
    position: absolute;
    display: flex;
    top: 1794px;
    right: 266px;
    z-index: 20;
}
.cogs > *{
    object-fit: scale-down;
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
}
.cog1 > img{
    width: 100px;
    height: 97px;
}
.cog2 > img{
    width: 54px;
    height: 55px;
}
.cog1{
    margin-top: 20px;
    width: 70px;
    animation: rotate 2s linear infinite reverse;
    aspect-ratio: inherit;
}
.cog2{
    width: 40px;
    animation: rotate 2s linear infinite;
    
}
@keyframes rotate{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}
.transition-bg{
    width: 100%;
    height: 8px;
    background-image: url('./images/transition.png');
    background-repeat: no-repeat;
    transform: translateY(-8px);
    z-index: -20;
}
.roadmap{
    transform: translateY(-8px);
    min-width: 100vw;
    height: 1338px;
    padding-top: 48px;
    background: url(./images/roadmap-bg.png) no-repeat;
    background-size: cover;
    resize: both;
}
.roadmap-title{
    margin: auto;
    width: 1280px;
    padding: 0 24px;
}
.list-header{
    display: flex;
    padding-bottom: 16px;
    gap: 16px;
    opacity: 100% !important;
}
.list-header > div{
    color: var(--dawg-orange);
    display: flex;
    align-items: center;
    justify-content: center;
}
.roadmap-number{
    width: 32px;
    height: 32px;
    border-radius: 8px;
    background: var(--dawg-white);
}
.listI1{
    position: absolute;
    left: 18vw;
    top: 12vw;
}
.listI2{
    position: absolute;
    left: 62vw;
    top: 24vw;
}
.listI3{
    position: absolute;
    left: 23vw;
    top: 43vw;
}
.list-content{
    padding-left: 64px;
    width: 480px;
    line-height: 140%;
}
.bold700{
    font-weight: 700;
}
.follow-us{
    width: 584px;
    height: 128px;
    background: url('./images/follow-us-bg.png');
    border-radius: 16px;
    background-color: var(--dawg-active);
    box-shadow: -10px -12px 15px 0px #FF733660, -12px -16px 17px 0px #FF733672, -20px -32px 27px 0px #FF733689, -12px -44px 24px 0px #FF7336BF, 20px 20px 20px 0px #B838007A,11px 11px 11px 0px #B8380066,12px 12px 12px 0px #B8380057,24px 24px 24px 0px #B83800;
    margin: 55% auto;
}
.follow-us-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    color: var(--dawg-orange);
    padding: 32px;
}
.follow-us-button{
    border: 2px solid var(--dawg-orange);
    border-radius: 16px;
    width: 141px;
    height: 57px;
    cursor: pointer;
    transition: .3s;
}
.button-container{
    display: flex;
    justify-content: center;
    gap: 8px;
    align-items: center;
    height: 100%;
    
}
.follow-us-button:hover{
    box-shadow:  -3px 3px 10px #FF7336BF;
}
.x{
    background-image: url('./images/x.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 32px;
    width: 32px;
}
.button-container > div{
    font-size: 20px;
}
.faq{
    max-height: 100vh;
    height: 100%;
    min-height: 800px;
    background: var(--dawg-light-bg);
    transform: translateY(-8px);
}
.faq-container{
    width: 1232px;
    height: 100%;
    margin: auto;
    padding: 48px 24px 0px 24px;
}
.faq-title{
    color: var(--dawg-orange);
}
.faq-menu{
    display: flex;
}
.sections{
    width: Fixed (261px)px;
    height: Hug (108px)px;
    padding: 10px 16px 10px 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    opacity: 0px;
}
.sections-item{
    width: 229px;
    height: 40px;
    padding: 8px;
    gap: 0px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0px;
    color: var(--dawg-orange);
    cursor: pointer;
}
.sections-item > img{
    width: 6px;
    height: 10px;

}
.questions{
    width: 955px;
    height: 216px;
    gap: 0px;
    opacity: 0px;

}
.questions-item > img{
    width: 16px;
    height: 16px;
}
.questions-item{
    width: 100%;
    min-height: 72px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0px 25px;
    color: var(--dawg-orange);
}
.questions-item-title{
    padding: 25px 0px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    cursor: pointer;
}
.border-bottom{
    height: 1px;
    width: 100%;
    border: 1px solid #FFD1BD;
    border-radius: 100px;
}
@keyframes opacityTr{
    0%{opacity: 0%;}
    100%{opacity: 100%;}
}
.footer{
    background-color: var(--dawg-orange);
    padding: 8px 16px;
    color: var(--dawg-white);
    transform: translateY(-8px);
}
a{
    text-decoration: none;
    cursor: pointer;
}
.faq-more{
    padding: 24px;
    margin-top: 30%;
    min-height: fit-content;
    background-color: #705847;
    border-radius: 8px;
}
.questions-answer{
    display: none;
    max-height: 0; /* Initially hidden */
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}
.questions-item.active > .questions-answer{
    display: block;
    max-height: 1000px;
}
.arrow {
    transition: transform 0.3s ease; /* Smooth rotation */
  }
  
  /* Rotated arrow */
.arrow.rotated {
    transform: rotate(180deg); /* Rotate the arrow */
} 
.sections-item.active{
    background: #FF4D0033;
}
.back-to-top{
    margin: 1% auto;
    max-width: fit-content;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 16px;
    border: 2px solid var(--dawg-orange);
    border-radius: 37px;
    cursor: pointer;
    color: var(--dawg-orange);
    transition: .3s;
}
.back-to-top:hover{
    box-shadow:  -3px 3px 10px #FF7336BF;
}